mixin getMatchDate(match)
	if (match.status == 2)
		h5 TBD
	if (match.status == 4)
		h5.bold.green LIVE
	else
		h5 #{helpers.convertDateShort(match.matchdate)}
	h5.small-caps.bold #{helpers.getCompetitionName(match.competition)}


mixin quickMatchInfo(match, heading)
	.panel.panel-success
		.panel-heading
			h3.bold #{heading}
		.row.panel-body
			.recent-match.col-ms-3.col-sm-3.col-md-4.flex-align-center
				h4.full-width #{helpers.getTeamLong(match.hometeam)}
			.col-ms-6.col-sm-6.col-md-4
				if (match.status == 2)
					//- Game postponed -> (shouldn't usually be the case though)
					h3.bold.postponed-match(style={ 'margin-top': 0 }) POSTPONED
				else if (match.status == 4)
					//- Game is currently in play
					h3.bold.blue-upcoming-match(style={ 'margin-top': 0 })
						| #{match.homegoals + ' - ' + match.awaygoals}
				else if (match.status == 5)
					//- Game completed
					h3.bold(style={ 'color': helpers.getResultColor(match), 'margin-top': 0 })
						| #{match.homegoals + ' - ' + match.awaygoals}
				else
					//- Game either scheduled or in play
					h3.bold.blue-upcoming-match(style={ 'margin-top': 0 })
						| #{helpers.convertMatchTime(match.matchdate)}
				.hidden-xs
					+getMatchDate(match)
			.recent-match.col-ms-3.col-sm-3.col-md-4.flex-align-center
				h4.full-width #{helpers.getTeamLong(match.awayteam)}
		.hidden-ms.hidden-sm.hidden-md.hidden-lg
			+getMatchDate(match)


mixin fixture(match, rowNum)
	.panel-body
		.hidden-xs.hidden-ms.hidden-sm.col-md-1.flex-align-center
			h4.full-width
				abbr(title=`${match.stadium}`)
					| #{match.neutral ? 'N' : (match.hometeam == 'Manchester United FC' ? 'H' : 'A')}
		.col-xs-12.col-sm-9.col-md-8.full-height
			.col-xs-4.col-sm-4.col-md-4.flex-align-center
				.hidden-xs
					h3.full-width #{helpers.getTeamLong(match.hometeam)}
				.hidden-ms.hidden-sm.hidden-md.hidden-lg
					h3.full-width #{helpers.getTeamShort(match.hometeam)}
			.col-xs-4.col-sm-4.col-md-4.full-height
				if (match.status == 2)
					//- Game postponed
					h4.bold.postponed-match POSTPONED
					h5 TBD
				else if (match.status === 4)
					//- Game is currently in play
					h3.bold.blue-upcoming-match
						| #{match.homegoals + ' - ' + match.awaygoals}
					h5.bold.green LIVE
				else if (match.status == 5)
					//- Game Completed
					h3.bold(style={'color': helpers.getResultColor(match)})
						| #{match.homegoals + ' - ' + match.awaygoals}
					h5 #{helpers.convertDateShort(match.matchdate)}
				else
					//- Game Not Yet Played
					h4.bold.blue-upcoming-match #{helpers.convertMatchTime(match.matchdate)}
					h5 #{helpers.convertDateShort(match.matchdate)}
				.hidden-sm.hidden-md.hidden-lg
					h5.small-caps.bold #{helpers.getCompetitionName(match.competition)}
			.col-xs-4.col-sm-4.col-md-4.flex-align-center
				.hidden-xs
					h3.full-width #{helpers.getTeamLong(match.awayteam)}
				.hidden-ms.hidden-sm.hidden-md.hidden-lg
					h3.full-width.float-right #{helpers.getTeamShort(match.awayteam)}
		.hidden-xs.hidden-ms.col-sm-1.col-md-1.flex-align-center
			h5.full-width.small-caps #{helpers.getCompetitionRound(match.competition, match.round)}
		.hidden-xs.hidden-ms.col-sm-2.col-md-2.flex-align-center
			if match.competition === 9
				h4.full-width.small-caps Friendly
			else
				img.image.image-responsive(src=`${helpers.getCompetitionLogo(match.competition)}`)
