//--------------------------------------------------------------------
//- ----------------------- FOR FIXTURES PAGES -----------------------
//--------------------------------------------------------------------

mixin quickMatchInfoMobile(match, MATCH_STATUS)
	.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12(style={'padding': '10px 0 0 0'})
		//- Match teams
		.col-lg-8.col-md-8.col-sm-8.col-ms-8.col-xs-8.recent-match-mobile
			//- Home Team Name
			.container
				p
					img.full-height(src=match.homeTeam.clubLogoSrc, alt=`Club Logo of ${match.homeTeam.teamName}`)
				.hidden-xs
					h4(style={'padding-top': '5px'})=match.homeTeam.displayName
				.hidden-lg.hidden-md.hidden-sm.hidden-ms
					h4(style={'padding-top': '5px'})=match.homeTeam.displayNameShort
			//- Away Team Name
			.container
				p
					img.full-height(src=match.awayTeam.clubLogoSrc, alt=`Club Logo of ${match.awayTeam.teamName}`)
				.hidden-xs
					h4(style={'padding-top': '5px'})=match.awayTeam.displayName
				.hidden-lg.hidden-md.hidden-sm.hidden-ms
					h4(style={'padding-top': '5px'})=match.awayTeam.displayNameShort

		//- Match Status
		if(match.status == MATCH_STATUS.SUSPENDED || match.status == MATCH_STATUS.POSTPONED || match.status == MATCH_STATUS.CANCELED)
			.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4.flex-align-center(style={'height': '100px'})
				if(match.status == MATCH_STATUS.SUSPENDED)
					h4.bold.postponed-match.padding-right-30-only='SUSPENDED'
				else if(match.status == MATCH_STATUS.POSTPONED)
					h4.bold.postponed-match.padding-right-30-only='POSTPONED'
				else if(match.status == MATCH_STATUS.CANCELED)
					h4.bold.postponed-match.padding-right-30-only='CANCELLED'
		else if(match.status == MATCH_STATUS.IN_PLAY || match.status == MATCH_STATUS.PAUSED)
			//- Game is currently in play
			.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4.flex-align-center(style={'height': '100px', 'flex-direction': 'column'})
				.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12
					h4.bold.blue-upcoming-match(style={'padding': '5px 0px 10px 0px'})=match.result.homeGoals
						if(match.result.homePens != null)
							span=' (' + match.result.homePens + ')'
				.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12
					h4.bold.blue-upcoming-match(style={'padding': '5px 0px 0px 0px'})=match.result.awayGoals
						if(match.result.awayPens != null)
							span=' (' + match.result.awayPens + ')'
		else if (match.status >= MATCH_STATUS.FINISHED)
			//- Game completed
			.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4.flex-align-center(style={'height': '100px', 'flex-direction': 'column'})
				.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12(style={'padding': '5px 0px 10px 0px'})
					h4.bold(style={ 'color': match.result.resultColor })=match.result.homeGoals
						if(match.result.homePens != null)
							span=' (' + match.result.homePens + ')'
				.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12(style={'padding': '5px 0px 0px 0px'})
					h4.bold(style={ 'color': match.result.resultColor })=match.result.awayGoals
						if(match.result.awayPens != null)
							span=' (' + match.result.awayPens + ')'
		else
			// - Game is scheduled
			.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4.flex-align-center.no-padding(style={'height': '100px'})
				h4.bold.blue-upcoming-match=match.matchDate.matchTime

	//- If the game went to penalties
	if(match.result != null && match.result.penaltyMessage != null)
		.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12.match-penalty-result
			h5(style={ 'color': match.result.resultColor })=match.result.penaltyMessage

	//- Match Date & Competition
	.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12.bg-light(style={'border-top': '1px solid #d3d3d3'})
		if(match.status == MATCH_STATUS.IN_PLAY || match.status == MATCH_STATUS.PAUSED)
			h4.bold.green='LIVE'
				if(match.result.gameMinute != null)
					span #{' - ' + match.result.gameMinute}
		else
			h5=match.matchDate.weekDateTime
		h5.bold.small-caps #{match.competitionName + ' - ' + match.roundName}


mixin quickMatchInfoComputer(match, MATCH_STATUS)
	//- Home Team
	.col-lg-4.col-md-4.col-sm-4.no-padding.recent-match
		.container(style={'height': '95px'})
			p
				img.full-height(src=match.homeTeam.clubLogoSrc, alt=`Club Logo of ${match.homeTeam.teamName}`)
			h4(style={'padding-left': '10px'})=match.homeTeam.displayName
	//- Match Status and date
	.col-lg-4.col-md-4.col-sm-4.no-padding
		div.flex-align-center.full-width(style={'height': '60px', 'flex-direction': 'column'})
			if (match.status == MATCH_STATUS.SUSPENDED)
				h4.bold.postponed-match='SUSPENDED'
			else if (match.status == MATCH_STATUS.POSTPONED)
				h4.bold.postponed-match='POSTPONED'
			else if (match.status == MATCH_STATUS.CANCELED)
				h4.bold.postponed-match='CANCELLED'
			else if (match.status == MATCH_STATUS.IN_PLAY || match.status == MATCH_STATUS.PAUSED)
				//- Game is currently in play
				h3.bold(style={ 'color': match.result.resultColor })=(match.result.penaltyResultString != null ? match.result.penaltyResultString : match.result.resultString)
			else if(match.status >= MATCH_STATUS.FINISHED)
				//- Game completed
				if(match.result.penaltyResultString == null)
					h3.bold(style={ 'color': match.result.resultColor })=match.result.resultString
				else
					div.full-width(style={'height': '35px'})
						h3.bold(style={ 'color': match.result.resultColor })=match.result.resultString
					div.full-width(style={'height': '20px'})
						h4.bold.no-margin(style={ 'color': match.result.resultColor })='(' + match.result.penaltyString + ' pen.)'
			else
				//- Game scheduled
				h3.bold.blue-upcoming-match=match.matchDate.matchTime
		//- Match date
		div.flex-align-center.full-width(style={'height': '35px'})
			if(match.status == MATCH_STATUS.IN_PLAY || match.status == MATCH_STATUS.PAUSED)
				h4.bold.green='LIVE'
					if(match.result.gameMinute != null)
						span #{' - ' + match.result.gameMinute}
			else
				h5.italics=match.matchDate.dateTime
	//- Away Team
	.col-lg-4.col-md-4.col-sm-4.no-padding.recent-match
		.container(style={'height': '95px'})
			h4(style={'padding-right': '10px'})=match.awayTeam.displayName
			p
				img.full-height(src=match.awayTeam.clubLogoSrc, alt=`Club Logo of ${match.awayTeam.teamName}`)


mixin quickMatchInfo(match, heading, MATCH_STATUS)
	.panel-heading
		h3.bold #{heading}
	.panel-body
		//- Mobile View
		.hidden-lg.hidden-md.hidden-sm.col-ms-12.col-xs-12.no-padding
			+quickMatchInfoMobile(match, MATCH_STATUS)
		//- Large View
		.col-lg-12.col-md-12.col-sm-12.hidden-ms.hidden-xs.no-padding
			//- Teams and Match Status
			+quickMatchInfoComputer(match, MATCH_STATUS)
			//- Match data & Competition
			.col-lg-12.col-md-12.col-sm-12
				h5.bold.small-caps #{match.competitionName + ' - ' + match.roundName}
			//- Penalty Note, if applicable
			if(match.result != null && match.result.penaltyMessage != null)
				.col-lg-12.col-md-12.col-sm-12.bg-light.match-penalty-result
					h5(style={ 'color': match.result.resultColor })=match.result.penaltyMessage


mixin fixtures(matchList, MATCH_STATUS)
	.panel.panel-info.align-items-center.fixtures-container
		.panel-heading
			.hidden-xs.hidden-ms.hidden-sm.col-md-1.col-lg-1
				h4 VENUE
			.col-xs-12.col-sm-9.col-md-8.col-lg-8
				h4 RESULT
			.hidden-xs.hidden-ms.hidden-sm.col-md-1.col-lg-1
				h4 ROUND
			.hidden-xs.hidden-ms.col-sm-3.col-md-2.col-lg-2
				h4 COMPETITION
		each match in matchList
			.panel-body(style={'border-bottom': '2px solid #d3d3d3'})
				//- Mobile View
				.hidden-lg.hidden-md.hidden-sm.col-ms-12.col-xs-12(style={'padding': '0'})
					+quickMatchInfoMobile(match, MATCH_STATUS)
				//- Large View
				.col-lg-12.col-md-12.col-sm-12.hidden-ms.hidden-xs.fixtures-large-view
					//- Match Stadium
					.col-lg-1.col-md-1.hidden-sm.no-padding
						h5=match.stadium
						h4
							if (match.neutral)
								abbr(title='Neutral')='(N)'
							else if (match.hometeam === 'Manchester United FC')
								abbr(title='Home')='(H)'
							else
								abbr(title='Away')='(A)'
					//- Teams and Match Status
					.col-lg-8.col-md-8.col-sm-9
						//- Home Team
						.col-lg-4.col-md-4.col-sm-4.main-score-status
							p
								img.full-height(src=match.homeTeam.clubLogoSrc, alt=`Club Logo of ${match.homeTeam.teamName}`)
							h4(style={'padding-left': '15px'})=match.homeTeam.displayName
						//- Match Status
						.col-lg-4.col-md-4.col-sm-4.flex-align-center.full-height(style={'height': '80px', 'flex-direction': 'column'})
							if (match.status == MATCH_STATUS.SUSPENDED)
								h4.bold.postponed-match='SUSPENDED'
							else if (match.status == MATCH_STATUS.POSTPONED)
								h4.bold.postponed-match='POSTPONED'
								h5='TBD'
							else if (match.status == MATCH_STATUS.CANCELED)
								h4.bold.postponed-match='CANCELLED'
							else if (match.status == MATCH_STATUS.IN_PLAY || match.status == MATCH_STATUS.PAUSED)
								//- Game is currently in play
								h3.bold(style={ 'color': match.result.resultColor })=(match.result.penaltyResultString != null ? match.result.penaltyResultString : match.result.resultString)
								h4.bold.green='LIVE'
									if(match.result.gameMinute != null)
										span #{' - ' + match.result.gameMinute}
							else if(match.status >= MATCH_STATUS.FINISHED)
								//- Game completed
								h3.bold(style={ 'color': match.result.resultColor })=(match.result.penaltyResultString != null ? match.result.penaltyResultString : match.result.resultString)
								h5=match.matchDate.shortWeekDateTime
							else
								//- Game Not Yet Played
								h3.bold.blue-upcoming-match=match.matchDate.matchTime
								h5=match.matchDate.shortWeekDateTime
							.hidden-sm.hidden-md.hidden-lg
								h5.small-caps.bold=match.competitionName
						//- Away Team
						.col-lg-4.col-md-4.col-sm-4.main-score-status
							h4(style={'padding-right': '15px'})=match.awayTeam.displayName
							p
								img.full-height(src=match.awayTeam.clubLogoSrc, alt=`Club Logo of ${match.awayTeam.teamName}`)
					//- Competition & Logo
					if (match.competitionLogoSrc == null)
						.col-lg-3.col-md-3.col-sm-3
							h5.small-caps='FRIENDLY'
					else
						.col-lg-1.col-md-1.hidden-sm
							h5.small-caps=match.roundName
						.col-lg-2.col-md-2.col-sm-3.image-container
							img.image.image-responsive(src=match.competitionLogoSrc, alt=`${match.competitionName} Competition Logo`)
				.col-lg-12.col-md-12.col-sm-12.hidden-ms.hidden-xs
					//- Penalty Note, if applicable
					if(match.result != null && match.result.penaltyMessage != null)
						.bg-light.match-penalty-result
							h5(style={ 'color': match.result.resultColor })=match.result.penaltyMessage
