//- Mixin for players that recently joined or left the club (for news section)
mixin playerTransferMixin(playersInfo, incoming)
	.panel.panel-default.align-items-center
		.panel-heading(style={'display':'flex', 'align-items': 'center', 'justify-content': 'center', 'height': '50px'})
			.col-lg-2.col-md-2.col-sm-2.col-ms-2.col-xs-2
				.hidden-xs
					h5 Position
				.hidden-lg.hidden-md.hidden-sm.hidden-ms
					h5 Pos
			.col-lg-6.col-md-6.col-sm-6.col-ms-6.col-xs-6
				h5 Player Name
			.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4
				h5=(incoming ? 'Previous Club' : 'Next Club')
		.panel-body
			each player in playersInfo
				.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12.no-padding.flex-align-center
					.col-lg-2.col-md-2.col-sm-2.col-ms-2.col-xs-2
						h5=player.position
					.col-lg-6.col-md-6.col-sm-6.col-ms-6.col-xs-6
						h5.all-caps.bold
							img(src=player.flagImg, height='20', width='28', style={'margin-right': '5px'}, alt=`Flag of ${player.countryName}`)
							| #{' ' + player.name}
					.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-4
						if(incoming)
							h5
								img(src=player.clubLogoSrc, height='20', width='20', alt=`Club Logo of ${player.prevClub}`)
								| #{' ' + player.prevClub}
						else if(player.nextClub)
							h5
								img(src=player.clubLogoSrc, height='20', width='20', alt=`Club Logo of ${player.nextClub}`)
								| #{' ' + player.nextClub}
						else
							h5=player.reason

//- Mixin with all the players main info
mixin playerInfoMixin(playersInfo)
	table.table-striped.full-width.team-player-details
		thead
			tr
				if(shouldDisplayJerseyNumber)
					th No
				th Player
				th
					abbr(title='Position') Pos
				th Age
				th International Status
				if(playersInfo[0].contractexpires != null && playersInfo[0].contractexpires != '')
					th
						abbr(title='Contract Expiration Date') Contract Exp.
		tbody
			each player in playersInfo
				tr
					if(shouldDisplayJerseyNumber)
						td=player.jerseynumber
					td.text-left
						img(src=player.flagImg, height='20', width='28', style={'margin-right': '5px'}, alt=`Flag of ${player.country}`)
						| #{' '}
						a(href=currentUrl + player.id)=player.name
					td=player.positionAbbr
					td=player.age
					td=(player.internationalLevel != null ? `Capped At ${player.internationalLevel} Level` : 'Uncapped')
					if(player.contractexpires != null && player.contractexpires != '')
						td=player.contractexpires
							if(player.extentionoption)
								span=' *'

//- Mixin with the information about the loanees
mixin playerLoanInfoMixin(playersInfo)
	table.table-striped.full-width.team-player-details
		thead
			tr
				th Player
				th
					abbr(title='Position') Pos
				th Age
				th Loan Club
		tbody
			each player in playersInfo
				tr
					td.text-left
						img(src=player.flagImg, height='20', width='28', style={'margin-right': '5px'}, alt=`Flag of ${player.country}`)
						| #{' '}
						a(href=currentUrl + player.id)=player.name
					td=player.positionAbbr
					td=player.age
					td
						img(src=player.loanClub.clubLogoSrc, height='20', width='20', alt=`Club Logo of ${player.loanClub.displayName}`)
						| #{' ' + player.loanClub.displayName}
