//- Mixin with staff info
mixin staffMixin(staff)
	.col-lg-4.col-md-4.col-sm-6
		.panel.panel-default.align-items-center
			.panel-heading
				h4.text-center.all-caps.bold=staff.job_title
			.panel-body
				h5.text-center=staff.name
				.container
					p
						img(src=staff.flagImg, alt=`Flag of ${staff.countryName}`)
					h6=staff.countryName

//- Mixin with scouting info
mixin scoutingTeamMixin(staff)
	.col-lg-4.col-md-4.col-sm-6
		.panel.panel-default.align-items-center
			.panel-heading
				h4.text-center.all-caps.bold=staff.job_title
			.panel-body
				h5.text-center=staff.name
				.container
					p
						img(src=staff.flagImg, alt=`Flag of ${staff.countryName}`)
					h6=staff.countryName
				if(staff.note != null)
					.pad-space-small
						h5.text-center.italics='Responsible for '
							span.bold=`${staff.note}`
