//--------------------------------------------------------------------
//- ----------------------- FOR STANDINGS PAGES ----------------------
//--------------------------------------------------------------------

//- Mixin to get the properly-styled team name
mixin styledTeamName(competitionData, isSingleCompetition)
	if(isSingleCompetition)
		h2.menu-title.blue=competitionData.competitionName
	else
		h2.menu-title
			a(href=competitionData.competitionLink)=competitionData.competitionName

//- For competitions that are completely of knockout style
mixin knockoutCompetitionMixin(competitionData, isSingleCompetition)
	+styledTeamName(competitionData, isSingleCompetition)
	if(competitionData.specialNote != null)
		h3.text-center.small-caps=competitionData.specialNote
	else
		h3.text-center.small-caps='Current Status:   '
			span(style={'color': 'red'})=competitionData.competitionStatus
		.pad-space-small
		.panel.panel-default.align-items-center.text-center
			each match in competitionData.fixtures
				.panel-body(style={'border-bottom': '2px solid #d3d3d3'})
						+quickMatchInfoMobile(match, true)
	.pad-space-small

//- Generates a table with all the standings
mixin tableStandingsMixin(competitionData)
	table.table.table-bordered
		thead
			tr
				th.text-center.hidden-xs.hidden-ms
					abbr(title='Position') Pos
				th.text-center.hidden-sm.hidden-md.hidden-lg #
				th.text-center Team
				th.text-center.col-md-1.hidden-xs.hidden-ms.hidden-sm Played
				th.text-center.hidden-md.hidden-lg
					abbr(title='Played') P
				th.text-center.col-md-1.hidden-xs.hidden-ms
					abbr(title='Wins') W
				th.text-center.col-md-1.hidden-xs.hidden-ms
					abbr(title='Draws') D
				th.text-center.col-md-1.hidden-xs.hidden-ms
					abbr(title='Losses') L
				th.text-center.hidden-xs.hidden-ms
					abbr(title='Goal Difference') GD
				th.text-center.hidden-xs.hidden-ms Points
				th.text-center.hidden-sm.hidden-md.hidden-lg
					abbr(title='Points') Pts
		tbody
			each team in competitionData.competitionTable
				tr(style={'background-color': team.color})
					td.text-center=team.position
					td
						img(src=team.teamData.clubLogoSrc, height='20', width='20', alt=`Club Logo of ${team.teamName}`)
						if(team.teamData.teamName == 'Manchester United FC')
							span.bold #{' ' + team.teamData.displayName}
						else
							span #{' ' + team.teamData.displayName}
					td.text-center=team.playedGames
					td.text-center.hidden-xs.hidden-ms=team.wins
					td.text-center.hidden-xs.hidden-ms=team.draws
					td.text-center.hidden-xs.hidden-ms=team.losses
					td.text-center.hidden-xs.hidden-ms=team.goalDifference
					td.text-center
						strong=team.points

//- For competitions that are completely based on table
mixin tableCompetitionMixin(competitionData, isSingleCompetition)
	+styledTeamName(competitionData, isSingleCompetition)
	if(competitionData.specialNote != null)
		h3.text-center.small-caps=competitionData.specialNote
	else
		h3.text-center.small-caps='Current Position:   '
			span(style={'color': 'red'})=competitionData.competitionStatus
		.pad-space-small
		+tableStandingsMixin(competitionData)
	.pad-space-small

//- For competitions that are a mix of knockout stages and group play
mixin mixedCompetitionMixin(competitionData, isSingleCompetition)
	+styledTeamName(competitionData, isSingleCompetition)
	if(competitionData.specialNote != null)
		h3.text-center.small-caps=competitionData.specialNote
	else
		h3.text-center.small-caps='Current Status:   '
			span(style={'color': 'red'})=competitionData.competitionStatus
		.pad-space-small
		//- Playoffs Section (if applicable)
		if(competitionData.fixtures != null && competitionData.fixtures != [])
			h4.blue.text-center.small-caps Playoffs Results
			.pad-space-small
			.panel.panel-default.align-items-center.text-center
				each match in competitionData.playoffMatches
					.panel-body(style={'border-bottom': '2px solid #d3d3d3'})
						+quickMatchInfoMobile(match)
			.pad-space-small

		//- Group Stage Section
		h4.blue.text-center.small-caps Group Stage Standings
		.pad-space-small
		+tableStandingsMixin(competitionData)
		.pad-space-small
