extends ../layout
block content
	.main.container-fluid
		.row
		.col-sm-12.col-md-offset-2.col-md-8
			h2.menu-title Premier League 2017/18 Live Standings
			h3.text-center.small-caps(style={'margin-bottom': '20px'}) Current Position:
				span(style={'color': 'red'}) #{'  2nd'}
			table.table.table-bordered
				thead
					tr
						th.text-center.hidden-xs
							abbr(title='Position') Pos
						th.text-center.hidden-sm.hidden-md.hidden-lg #
						th.text-center Team
						th.text-center.col-md-1.hidden-xs.hidden-sm Played
						th.text-center.hidden-md.hidden-lg
							abbr(title='Played') P
						th.text-center.col-md-1.hidden-xs Wins
						th.text-center.col-md-1.hidden-xs Draws
						th.text-center.col-md-1.hidden-xs Losses
						th.text-center.hidden-xs
							abbr(title='Goals For') GF
						th.text-center.hidden-xs
							abbr(title='Goals Against') GA
						th.text-center.hidden-xs
							abbr(title='Goal Difference') GD
						th.text-center Points
				tbody
					each team in epl
						tr(style={'background-color': team.color})
							td.text-center=team.position
							td
								img(src=team.crestURI, height='20', width='20')
								| #{' ' + team.teamName}
							td.text-center=team.playedGames
							td.text-center.hidden-xs=team.wins
							td.text-center.hidden-xs=team.draws
							td.text-center.hidden-xs=team.losses
							td.text-center.hidden-xs=team.goals
							td.text-center.hidden-xs=team.goalsAgainst
							td.text-center.hidden-xs=team.goalDifference
							td.text-center
								strong=team.points
