extends ../layout
block content
	.main.container-fluid
		.col-sm-12.col-md-offset-2.col-md-8
			h2.menu-title Premier League 2017/18 Live Standings
			h3.text-center.small-caps(style={'margin-bottom': '20px'}) Current Position:
				span(style={'color': 'red'}) #{'  ' + helpers.getTeamPosition(epl.map(team => team.teamName))}
			table.table.table-bordered
				thead
					tr
						th.text-center.hidden-xs.hidden-ms
							abbr(title='Position') Pos
						th.text-center.hidden-sm.hidden-md.hidden-lg #
						th.text-center Team
						th.text-center.col-md-1.hidden-xs.hidden-ms.hidden-sm Played
						th.text-center.hidden-md.hidden-lg
							abbr(title='Played') P
						th.text-center.col-md-1.hidden-xs.hidden-ms Wins
						th.text-center.col-md-1.hidden-xs.hidden-ms Draws
						th.text-center.col-md-1.hidden-xs.hidden-ms Losses
						th.text-center.hidden-xs.hidden-ms
							abbr(title='Goals For') GF
						th.text-center.hidden-xs.hidden-ms
							abbr(title='Goals Against') GA
						th.text-center.hidden-xs.hidden-ms
							abbr(title='Goal Difference') GD
						th.text-center Points
				tbody
					each team in epl
						tr(style={'background-color': team.color})
							td.text-center=team.position
							td
								img(src=team.crestURI, height='20', width='20')
									| #{' ' + helpers.getTeamLong(0, 0, team.teamName)}
							td.text-center=team.playedGames
							td.text-center.hidden-xs.hidden-ms=team.wins
							td.text-center.hidden-xs.hidden-ms=team.draws
							td.text-center.hidden-xs.hidden-ms=team.losses
							td.text-center.hidden-xs.hidden-ms=team.goals
							td.text-center.hidden-xs.hidden-ms=team.goalsAgainst
							td.text-center.hidden-xs.hidden-ms=team.goalDifference
							td.text-center
								strong=team.points
