extends layout
block customcss
	style(type="text/css").
		.row {
			display: flex;
			align-items: center;
			padding: 10px;
		}
		.container {
			display: flex;
			align-items: center;
			width: 100%;
		}
		.container > p {
			float: left;
			height: 20px;
			width: 30px;
			margin: 10px 10px 10px 0px;
		}
		.container > p > img {
			height: 20px;
			width: 30px;
		}
		.container > h5 {
			vertical-align: center;
			padding: 5px;
		}
		@media(max-width: 480px) {
			.container, .col-md-6 {
				padding: 0;
			}
			.container > p > img {
				margin: 0;
			}
		}
block content
	.main.container-fluid
		//- Include player mixin
		include ../partials/playerMixin.pug

		h1.bold.red LATEST NEWS
		.container-fluid
			.col-lg-6.col-md-6
				h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Summer Signings
				+playerTransferMixin(recentlySigned, true)
				.pad-space-small

				h2.blue.text-center.small-caps Summer Departures
				+playerTransferMixin(departedPlayers, false)
				.pad-space-small

			.col-lg-6.col-md-6
				h2.blue.text-center.small-caps Loaned Out
				+playerTransferMixin(loanedOut, false)
				.pad-space-small

				h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Academy Signings
				+playerTransferMixin(recentlySignedToAcademy, true)
				.pad-space-small

		if(worldCupParticipants != null && worldCupParticipants.length > 0)
			h2.blue.text-center.small-caps(style={'margin-bottom': '20px'})=`${worldCupTitle} Participants`
			.text-center
				h4 The following club players have been selected to represent their respective national teams at the #{worldCupTitle}:
				.pad-space-small
				table.table.table-bordered
					tbody
						each player in worldCupParticipants
							tr
								td.col-lg-4.col-md-4
									.container(style={'justify-content': 'center'})
										p
											img(src=player.flagImg alt=`Flag of ${player.countryName}`)
										h5.bold.all-caps=player.countryName
								td.col-lg-8.col-md-8
									h5=player.name

		h1.bold.red=`${lastSeason} SEASON OVERVIEW`
		if(awards.seniorTeam != null)
			h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) First Team
			table.table.table-bordered
				tbody
					each competitionName in Object.keys(awards.seniorTeam)
						tr
							td.col-lg-3
								h5.text-center.bold=competitionName
							td.col-lg-9
								each award in awards.seniorTeam[competitionName]
									.container
										p
											img(src=award.awardIconImg alt=award.awardIconAlt)
										h5=award.awardDescription

		if(awards.reservesTeam != null)
			h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Reserves Team
			table.table.table-bordered
				tbody
					each competitionName in Object.keys(awards.reservesTeam)
						tr
							td.col-lg-3
								h5.text-center.bold=competitionName
							td.col-lg-9
								each award in awards.reservesTeam[competitionName]
									.container
										p
											img(src=award.awardIconImg alt=award.awardIconAlt)
										h5=award.awardDescription

		if(awards.academyTeam != null)
			h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Academy Team
			table.table.table-bordered
				tbody
					each competitionName in Object.keys(awards.academyTeam)
						tr
							td.col-lg-3
								h5.text-center.bold=competitionName
							td.col-lg-9
								each award in awards.academyTeam[competitionName]
									.container
										p
											img(src=award.awardIconImg alt=award.awardIconAlt)
										h5=award.awardDescription

		if(awards.womenTeam != null)
			h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Women Team
			table.table.table-bordered
				tbody
					each competitionName in Object.keys(awards.womenTeam)
						tr
							td.col-lg-3
								h5.text-center.bold=competitionName
							td.col-lg-9
								each award in awards.womenTeam[competitionName]
									.container
										p
											img(src=award.awardIconImg alt=award.awardIconAlt)
										h5=award.awardDescription
