extends layout
block content
	.main.container-fluid
		.row
		.col-sm-12.col-md-offset-2.col-md-8
			h2.menu-title Premier League 2017/18 Table
			table.table.table-bordered
				thead
					tr
						th.text-center
							abbr(title='Position') Pos
						th.text-center Team
						th.text-center.col-md-1.hidden-xs.hidden-sm Played
						th.text-center.hidden-md.hidden-lg
							abbr(title='Played') P
						th.text-center.col-md-1.hidden-xs.hidden-sm Wins
						th.text-center.hidden-md.hidden-lg
							abbr(title='Wins') W
						th.text-center.col-md-1.hidden-xs.hidden-sm Draws
						th.text-center.hidden-md.hidden-lg
							abbr(title='Draws') D
						th.text-center.col-md-1.hidden-xs.hidden-sm Losses
						th.text-center.hidden-md.hidden-lg
							abbr(title='Losses') L
						th.text-center.hidden-xs
							abbr(title='Goals For') GF
						th.text-center.hidden-xs
							abbr(title='Goals Against') GA
						th.text-center
							abbr(title='Goal Difference') GD
						th.text-center Points
				tbody
					each team in epl
						tr(style={'background-color': team.color})
							td.text-center=team.position
							td
								img(src=team.crestURI, height='20', width='20')
								| #{' ' + team.teamName}
							td.text-center=team.playedGames
							td.text-center=team.wins
							td.text-center=team.draws
							td.text-center=team.losses
							td.text-center.hidden-xs=team.goals
							td.text-center.hidden-xs=team.goalsAgainst
							td.text-center=team.goalDifference
							td.text-center
								strong=team.points
